data_dir: /path/to/email-classification
state_dir: ./state
pmcs_using_jira:
  cxf: CXF
  drill: DRILL
pmcs_with_security_emails:
  - airflow
  - ambari
pmcs_with_subprojects:
  - commons
# Retired PMCs whose reports the security team handles directly;
# committee ids from https://projects.apache.org/json/foundation/committees-retired.json
pmcs_in_attic:
  - abdera
  - ace
  - any23
  - apachetraining
  - apex
  - archiva
  - aurora
  - bahir
  - beehive
  - bloodhound
  - buildr
  - chemistry
  - chukwa
  - clerezza
  - click
  - climate
  - cocoon
  - continuum
  - crunch
  - deltacloud
  - devicemap
  - directmemory
  - drat
  - eagle
  - esme
  - etch
  - excalibur
  - falcon
  - flume
  - fluo
  - forrest
  - giraph
  - gora
  - griffin
  - hama
  - harmony
  - hawq
  - hivemind
  - ibatis
  - isis
  - jakarta
  - jclouds
  - joshua
  - juddi
  - kibble
  - labs
  - lens
  - lenya
  - logodev
  - logodevelopment
  - lucy
  - marmotta
  - mesos
  - metamodel
  - metron
  - mnemonic
  - mrunit
  - mxnet
  - ode
  - olingo
  - oltu
  - onami
  - oodt
  - oozie
  - petri
  - pivot
  - polygene
  - portals
  - predictionio
  - rave
  - reef
  - river
  - sentry
  - servicemix
  - shale
  - shindig
  - sqoop
  - stanbol
  - stdcxx
  - stratos
  - streams
  - submarine
  - systemml
  - tajo
  - tiles
  - trafficcontrol
  - trafodion
  - tuscany
  - twill
  - usergrid
  - vxquery
  - whirr
  - wink
  - wookie
  - xmlbeans

# for local testing with mock-oauth2-server
#oauth_url_init: http://localhost:8080/default/authorize
#oauth_client_id: example-app
#oauth_client_secret: ZXhhbXBsZS1hcHAtc2VjcmV0
#oauth_url_callback: http://localhost:8080/default/token
#oauth_url_jwks: http://localhost:8080/default/jwks
#oauth_issuer: http://localhost:8080/default
#oauth_enforce_https: false

# for local testing with https://mfa-dev.apache.org
oauth_url_init: https://mfa-dev.apache.org/application/o/authorize/
oauth_client_id: local_testing.apache.org
oauth_client_secret: (ask)
oauth_url_callback: https://mfa-dev.apache.org/application/o/token/
oauth_url_jwks: https://mfa-dev.apache.org/application/o/local_testing-apache-org/jwks/
oauth_url_logout: https://mfa-dev.apache.org/application/o/local_testing-apache-org/end-session/
oauth_issuer: https://mfa-dev.apache.org/application/o/local_testing-apache-org/
oauth_enforce_https: false
